body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

h1,
h2,
h3 {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

div {
  margin: 10px;
}